* {
    box-sizing: border-box;
}

.jumbotron{
    background: linear-gradient(rgba(11, 24, 99, 0.868), rgba(70, 150, 216, 0.925));
}

.uv_low{
    background-color: green;
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}
.uv_middle{
    background-color: rgb(243, 196, 94);
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}
.uv_high{
    background-color: red;
    padding: .75em 1.5em .75em 1.5em;
    border-radius: 1em;
}

.findCity {
    margin: 1rem;
}

.cityFinder button{
    float: left;
    width: 20%;
    height: 3em;
    border-bottom-left-radius:  0;
    border-top-left-radius: 0;
}
.cityHist{
    margin-top: 4em;
}

#currCityInfo{
    border: 1px solid black;
    margin-top: 2em;
    color: white;
    background-color: rgb(175, 194, 140);
}

#fiveDayFore{
    margin: 1em;
}
.prevCityList{
    background-color:  rgb(113, 118, 122);
    color: black;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.prevCityList:hover{
    background-color: rgb(10, 30, 145);
    cursor: pointer;
}

